<div id="<%= dom_id season %>">

  <p>
    <strong>Show:</strong>
    <%= season.show_title %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= season.number %>
  </p>

  <p>
    Episode count: <%= season.episodes.count %>
  </p>

</div>
