<div id="<%= dom_id movie %>">
  <p>
    <strong>Title:</strong>
    <%= movie.title %>
  </p>

  <p>
    <strong>Genre(s):</strong>
    <% movie.genres.each do |genre| %>
      <%= render genre %>
    <% end %>
  </p>

  <p>
    <strong>Right(s):</strong>
    <% movie.rights.each do |right| %>
      <%= render right %>
    <% end %> 
  </p>

</div>
