<div id="<%= dom_id episode %>">
  <p>
    <strong>Title:</strong>
    <%= episode.title %>
  </p>

  <p>
    <strong>Start:</strong>
    <%= episode.start %>
  </p>

  <p>
    <strong>Finish:</strong>
    <%= episode.finish %>
  </p>

</div>
