<% content_for :title, "Editing right" %>

<h1>Editing right</h1>

<%= render "form", right: @right %>

<br>

<div>
  <%= link_to "Show this right", @right %> |
  <%= link_to "Back to rights", rights_path %>
</div>
