<p style="color: green"><%= notice %></p>

<% content_for :title, "Rights" %>

<h1>Rights</h1>

<div id="rights">
  <% @rights.each do |right| %>
    <%= render right %>
    <p>
      <%= link_to "Show this right", right %>
    </p>
  <% end %>
</div>

<%= link_to "New right", new_right_path %>
