<p style="color: green"><%= notice %></p>

<% content_for :title, "Territories" %>

<h1>Territories</h1>

<div id="territories">
  <% @territories.each do |territory| %>
    <%= render territory %>
    <p>
      <%= link_to "Show this territory", territory %>
    </p>
  <% end %>
</div>

<%= link_to "New territory", new_territory_path %>
