<div id="<%= dom_id show %>">
  <p>
    <strong>Title:</strong>
    <%= show.title %>
  </p>

  <p>
    <strong>Genres:</strong><br>
    <%= show.genres.map { |genre| genre.name }.join(", ") %>
  </p>

</div>
