<%= turbo_frame_tag "zip_bundle_section" do %>
  <p>
    <strong>Zips:</strong>
    <%= button_to "Prepare Zip Bundle",
                  prepare_bundle_show_path(show),
                  method: :post %>

    <% if show.zip_bundle.attached? %>
      <%= link_to 'Download Zip', rails_blob_path(show.zip_bundle, disposition: "attachment") %>
    <% end %>
  </p>
<% end %>